(
    camera_pos: (
        0.0,
        0.0,
        1E10,
    ),
    safety: 1E20,
    constructions: [
        Galaxy (
            center_pos: (-2E11, -1E11, 0.0),
            center_vel: (13E6, 0.0, 0.0),
            center_mass: 1E35,
            amount: 100000,
            normal: (1.0, 0.0, 0.0),
        ),
        Galaxy (
            center_pos: (2E11, 1E11, 0.0),
            center_vel: (0.0, 0.0, 0.0),
            center_mass: 1E35,
            amount: 100000,
            normal: (1.0, 0.0, 0.0),
        )
    ],
)
