(
    camera_pos: (
        1E9,
        0.0,
        0.0,
    ),
    safety: 0.0,
    constructions: [
        Particle (
            pos: (0.0, 0.0, 0.0),
            vel: (0.0, 0.0, -3E5),
            mass: 1E32,
        ),
        Particle (
            pos: (0.0, 3E8, 0.0),
            vel: (0.0, 0.0, 3E6),
            mass: 1E31,
        ),
    ],
)
